#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select eeprom/parameters
param import

# system_power not implemented
param set CBRK_SUPPLY_CHK 894281

# no idea, but I saw this in another rover...
param set CBRK_AIRSPD_CHK 162128

param set-default BAT1_V_DIV 10
param set-default BAT1_CAPACITY 5000
param set-default BAT1_N_CELLS 3
param set-default BAT1_V_EMPTY 3.50
param set-default BAT1_SOURCE 0
param set-default BAT1_N_CELLS 1
param set-default ADC_GROVE_PORT 2

param set-default BAT2_SOURCE 1
param set-default BAT2_N_CELLS 1

param set SYS_AUTOCONFIG 0

# Rover because PX4 has some odd quirks with the boat MAV_TYPE
param set MAV_TYPE 10

# control_allocator: Differential rover
param set CA_AIRFRAME 6

# Use GPS for height estimation, though really it doesn't matter since
# this thing doesn't fly :)
param set EKF2_HGT_MODE 1

# My GPS module sucks, apparently?
param set-default EKF2_REQ_HDRIFT 1
param set-default EKF2_REQ_EPH 20
param set-default COM_POS_FS_EPH 20

param set SYS_AUTOSTART 50000

param set COM_RC_IN_MODE 1
param set SYS_HAS_BARO 1

param set MIS_LTRMIN_ALT 0.01
param set MIS_TAKEOFF_ALT 0.01

param set NAV_ACC_RAD 2
param set NAV_LOITER_RAD 2

param set SDLOG_MODE 1

# Uh, no idea why?
param set PWM_MAIN_RATE 50
param set PWM_MAIN_MIN 1000
param set PWM_MAIN_MAX 2000
param set PWM_MAIN_DISARM 900

param set-default GND_L1_DIST 5
param set-default GND_SPEED_TRIM 3
param set-default GND_THR_CRUISE 0.85
param set-default GND_THR_MAX 1
param set-default GND_THR_MIN 0
param set-default GND_MAX_ANG 1.22

dataman start

load_mon start

adc_grovepiplus start -I
battery_status start

# IMU & Magnetomer
mpu9250_i2c start -I -a 0x68
sleep 5
ak8963 start -I
sleep 1

# Barometer
bme280 -I start

# Onboard battery
pijuice -I -t 2 start

# PWM
pca9685_pwm_out start -a 112
mixer load /dev/pwm_output0 etc/mixers/generic_diff_rover.main.mix

# external GPS & compass
gps start -d /dev/ttyUSB0 -i uart -p nmea -b 9600

sensors start
commander start
navigator start
ekf2 start
rc_update start
manual_control start
control_allocator start
rover_pos_control start
land_detector start rover

mavlink start -x -u 14560 -o 14561 -r 1000000

# Telem
#mavlink start -x -Z -d /dev/ttySC1

logger start -t -b 200

mavlink boot_complete
